body {
  background-image: url(sebastian-pena-lambarri-7i5HMCGupVw-unsplash.jpg);
  background-size: cover;
  background-position: center;

}

header,
main {
  color: #FFFF;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

h1,
p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.form-group {
  width: 70%;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 30%;
  padding: 0.5rem;
}

.form-box {
  display: flex;
  margin: 0 auto;
  width: 30%;
  padding: 0.5rem;
}

.dive-license,
.speciality {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.text-request {
  min-height: 100px;
  width: 100%;

}

#submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: green;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}